h1{
  background-color: blue;
  grid-column: 2/3;
  grid-row: 1/2;
}

body {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50% 50%;
  /*\justify-content: space-evenly;*/
  grid-template-areas: 
  "title1 title2 title3"
  ;
  }

  .Title1 {
  border-top: 15px solid lightblue;
  }

  .Title2 {
  border-top: 15px solid orangered;
  }
    
  .Title3 {
  border-top: 15px solid teal;
  }